environments:
  default:
    values:
    - isProd: false
    - devDomainSuffix: "test"
    - prodDomainName: "rliance.work"
# ----
# defaults releases, with all desired running apps on our cluster
# ----
    - releases:
        nextcloud:
          enabled: true
          labels:
            env: default
          name: "nextcloud"
          chart: nextcloud/nextcloud
          namespace: "nextcloud"
          createNamespace: true
        # jitsi:
        #   enabled: true
        #   labels:
        #     env: default
        #   name: "jitsi"
        #   chart: jitsi/jitsi-meet
        #   namespace: "jitsi"
        #   createNamespace: true
        argo-cd:
          enabled: false
          labels:
            env: default
          name: "argo-cd"
          chart: argo/argo-cd
          namespace: "argo-cd"
          createNamespace: true
        argo-cd-apps:
          enabled: false
          labels:
            env: default
          name: "argo-cd-apps"
          chart: argo/argocd-apps
          namespace: "argo-cd"
          createNamespace: true
        external-secrets:
          enabled: true
          labels:
            env: default
          name: "external-secrets"
          chart: external-secrets/external-secrets
          namespace: "external-secrets"
          createNamespace: true
          hooks:
            - events: ["postsync"]
              command: kubectl
              args:
                - wait
                - --for=condition=Established
                - --timeout=180s
                - crd/externalsecrets.external-secrets.io
                - crd/secretstores.external-secrets.io
                - crd/clustersecretstores.external-secrets.io
                - crd/clusterexternalsecrets.external-secrets.io
        secrets-bundle: 
          enabled: true
          labels:
            env: default
          name: "secrets-bundle"
          chart: charts/secrets-bundle
          namespace: "external-secrets"
          createNamespace: true
        postgres-operator:
          enabled: true
          labels:
            env: default
          name: "postgres-operator"
          chart: cnpg/cloudnative-pg
          namespace: "databases"
          createNamespace: true
        postgres-db:
          enabled: true
          labels:
            env: default
          name: "postgres-db"
          chart: cnpg/cluster
          namespace: "databases"
          createNamespace: true
        openbao-init:
          enabled: true
          labels:
            env: default
          name: "openbao-init"
          chart: charts/openbao-init
          namespace: "openbao"
          createNamespace: true
        openbao: 
          enabled: true
          labels:
            env: default
          name: "openbao"
          chart: openbao/openbao
          version: 0.14.0
          namespace: "openbao"
          createNamespace: true
        minio-operator:
          enabled: true
          labels:
            env: default
          name: "minio-operator"
          chart: minio/operator
          namespace: "minio-operator"
          createNamespace: true
        minio:
          enabled: true
          labels:
            env: default
          name: "minio"
          chart: minio/tenant
          namespace: "minio"
          createNamespace: true
          hooks:
            - events: ["postapply"]
              showlogs: true
              command: "kubectl"
              args:
                - apply
                - -f
                - "manifests/minio-job.yaml"

# ----
# specific releases for different environments
# ----
# prod environment (on K3S cluster)
        cloudflare-tunnel:
          enabled: true
          labels:
            env: prod
          name: "cloudflare-tunnel"
          chart: cloudflare/cloudflare-tunnel
          namespace: "cloudflare-tunnel"
          createNamespace: true
# dev environment (on Kind cluster)
        ingress-controller:
          enabled: true
          labels:
            env: dev
          name: "ingress-controller"
          chart: ingress-nginx/ingress-nginx
          version: 4.12.3
          namespace: "ingress-controller"
          createNamespace: true

---

helmDefaults:
  wait: true

repositories:
  - name: ingress-nginx
    url: https://kubernetes.github.io/ingress-nginx
  - name: cloudflare
    url: https://cloudflare.github.io/helm-charts
  - name: nextcloud
    url: https://nextcloud.github.io/helm/
  - name: argo
    url: https://argoproj.github.io/argo-helm
  - name: jitsi
    url: https://jitsi-contrib.github.io/jitsi-helm/
  - name: cloudnative-pg
    url: https://cloudnative-pg.github.io/charts
  - name: jetstack
    url: https://charts.jetstack.io
  - name: openbao
    url: https://openbao.github.io/openbao-helm
  - name: minio
    url: https://operator.min.io/

{{ $releases := .Values.releases }}
releases:
{{ range $name, $release := $releases }}

  - name: "{{ $name }}"
    chart: {{ $release.chart }}
    namespace: {{ $release.namespace }}
    installed: {{ $release.enabled }}

    {{- if hasKey $release "version" }}
    version: {{ $release.version }}
    {{- end }}

  # labels:
    {{- if hasKey $release "labels" }}
    labels:
    {{- $release.labels | toYaml | nindent 6 }}
    {{- end }}

  # hooks:
    {{- if hasKey $release "hooks" }}
    hooks:
    {{- $release.hooks | toYaml | nindent 6 }}
    {{- end }}

  # values:
    values:
    {{- if isFile (printf "values/%s.yaml" $release.name) }}
      - values/{{ $release.name }}.yaml
    {{- end }}
    {{- if isFile (printf "values/%s.yaml.gotmpl" $release.name) }}
      - values/{{ $release.name }}.yaml.gotmpl
    {{- end }}
    
    {{- if isFile (printf "values/prod/%s.yaml" $release.name) }}
      - values/prod/{{ $release.name }}.yaml
    {{- end }}
    {{- if isFile (printf "values/prod/%s.yaml.gotmpl" $release.name) }}
      - values/prod/{{ $release.name }}.yaml.gotmpl
    {{- end }}

    {{- if isFile (printf "values/dev/%s.yaml" $release.name) }}
      - values/dev/{{ $release.name }}.yaml
    {{- end }}
    {{- if isFile (printf "values/dev/%s.yaml.gotmpl" $release.name) }}
      - values/dev/{{ $release.name }}.yaml.gotmpl
    {{- end }}

    {{- if hasKey $release "values" }}
    {{- if $release.values }}
    {{- range $release.values }}
      - {{ . }}
    {{- end }}
    {{- end }}
    {{- end }}

  # needs
    needs:
    {{if eq $name "argo-cd-apps"}}
      - argo-cd/argo-cd
    {{ end }}
    {{if eq $name "openbao"}}
      - openbao/openbao-init
    {{ end }}
    {{if eq $name "postgres-operator"}}
      - external-secrets/secrets-bundle
    {{ end }}
    {{ if eq $name "minio" }}
      - minio-operator/minio-operator
    {{ end }}
    {{if eq $name "postgres-db"}}
      - databases/postgres-operator
    {{ end }}
    {{if eq $name "nextcloud"}}
      - databases/postgres-db
      - external-secrets/secrets-bundle
    {{ end }}
    {{- if and (ne $name "openbao") (ne $name "openbao-init") (ne $name "cloudflare-tunnel") (ne $name "ingress-controller")}}
      - openbao/openbao
    {{- end }}
    {{if eq $name "secrets-bundle"}}
      - external-secrets
    {{ end }}


{{ end }}