{{- range .Values.externals }}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ .name }}
  namespace: {{ .namespace }}
spec:
  refreshInterval: {{ .refreshInterval | default "15m" }}
  secretStoreRef:
    kind: ClusterSecretStore
    name: {{ $.Values.storeRef | default "openbao" }}
  {{- if .dataFrom }}
  dataFrom:
    - extract:
        key: {{ .dataFrom.extract.key | quote }}
  {{- end }}
  {{- if .data }}
  data:
  {{- range .data }}
    - secretKey: {{ .secretKey }}
      remoteRef:
        key: {{ .remote.key | quote }}
        {{- if .remote.property }}
        property: {{ .remote.property | quote }}
        {{- end }}
  {{- end }}
  {{- end }}
  target:
    name: {{ .targetName }}
    creationPolicy: {{ .creationPolicy | default "Owner" }}
    {{- with .template }}
    template:
{{ toYaml . | indent 6 }}
    {{- end }}
---
{{- end }}
